<li>
    <a class="dropdown-item ml-4 {{ slug == 'all-cards' ? 'font-weight-bold' }}"
       href="{{ path('flashcard_index', {slug: 'all-cards'}) }}">All Cards
    </a>
</li>
{% for category in categories %}
    <li>
        <a class="dropdown-item ml-4 {{ slug == category.categoryUri ? 'font-weight-bold' }}"
           href="{{ path('flashcard_index', {slug: category.categoryUri}) }}">
            {{ category.name }}
        </a>
    </li>
{% endfor %}
<li>
    <a class="dropdown-item ml-4 text-muted" href="#">
        <span class="fa fa-plus-square fa-fw mr-1" aria-hidden="true"></span>Add category
    </a>
</li>