<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="BartTux">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <!-- HORIZONTAL NAVIGATION -->

        <header class="heading">

            <div class="navbar d-flex bg-primary fixed-top p-0">
                <div class="col-sm-3 col-md-4 col-lg-3 col-xl-2 bg-white text-center brand-section">
                    <a class="navbar-brand text-primary" href="#">
                        <span class="fa fa-american-sign-language-interpreting"></span>
                        <span class="font-weight-light">flash</span><span class="font-weight-bold">bart</span>
                    </a>
                </div>

                <div class="search-section">
                    <input class="form-control form-control-white float-left" type="search" placeholder="Search for..." aria-label="Search">
                    <button class="btn btn-light" type="submit">
                        <span class="fa fa-search text-muted" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-between col-sm-12 col-md-8 col-lg-9 col-xl-10 fixed-top ml-md-auto heading-below">
                <nav class="heading-nav">
                    <h2 class="h4 font-weight-normal">{{ slug|capitalize|replace({'-': ' '}) }}</h2>
                    <small>
                        <a href="#">Flashcards</a> <span class="fa fa-chevron-right fa-fw"></span>
                        {{ slug|capitalize|replace({'-': ' '}) }}
                    </small>
                </nav>

                <form class="heading-form">
                    <div class="form-group float-left mt-3 mr-5 heading-form_show">
                        <fieldset>
                            <legend>Show</legend>

                            <div class="form-check form-check-inline mr-4">
                                <input class="form-check-input" type="checkbox" id="sentence" checked>
                                <label class="form-check-label" for="sentence">Example sentence</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="pronunciation" checked>
                                <label class="form-check-label" for="pronunciation">Pronunciation</label>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group float-left mt-3 mr-5 heading-form_sort">
                        <label for="select">Sort by</label>
                        <select class="form-control px-2 py-0" id="select">
                            <option value="">Date increase</option>
                            <option value="">Date decrease</option>
                            <option value="">Word alphabetically</option>
                            <option value="">Word not alphabetically</option>
                        </select>
                    </div>

                    <button class="btn" type="submit">Submit</button>
                </form>
            </div>

        </header>

        <!-- END HORIZONTAL NAVIGATION -->


        <div class="container-fluid">
            <div class="row">

                <!-- VERTICAL NAVIGATION -->

                <nav class="col-md-4 col-lg-3 col-xl-2 d-none d-md-block bg-white px-0 sidebar">
                    <div class="sidebar-sticky">

                        <div class="nav-item dropdown mt-4 pb-4 navbar-sections">
                            <a class="d-flex justify-content-between align-items-center" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <div class="account-items">
                                    <img class="float-left" src="../../img/flaga.png" alt="Profile image">
                                    <p class="text-dark font-weight-bold d-block float-left">Michael Doe</p>
                                    <small class="text-muted d-block">
                                        <span class="fa fa-flag fa-fw text-muted" aria-hidden="true"></span>
                                        Polish, PL
                                    </small>
                                </div>
                                <span class="account-dropdown-icon fa fa-caret-right fa-fw text-dark" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu pt-0 account-dropdown" aria-labelledby="navbarDropdown3">
                                <li>
                                    <a class="dropdown-item" href="#">Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Settings</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li>
                                    <a class="dropdown-item" href="#">Sign out</a>
                                </li>
                            </ul>
                        </div>

                        <div class="mt-4 pb-4 navbar-sections navigation">
                            <ul class="nav navbar-nav flex-column font-weight-bold" aria-orientation="vertical">
                                <li class="nav-item mb-1">
                                    <a class="nav-link" href="#" aria-selected="false">
                                        <span class="fa fa-home fa-fw mr-4 text-muted" aria-hidden="true"></span>
                                        Home
                                    </a>
                                </li>
                                <li class="nav-item dropdown active mb-1">
                                    <a class="nav-link d-flex justify-content-between align-items-center text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div>
                                            <span class="fa fa-window-restore fa-fw mr-4" aria-hidden="true"></span>
                                            Flashcards
                                        </div>
                                        <span class="dropdown-icon fa fa-caret-right fa-fw text-dark" aria-hidden="true"></span>
                                    </a>
                                    <ul class="dropdown-menu border-0 mb-2" aria-labelledby="navbarDropdown">
                                        <li>
                                            <a class="dropdown-item ml-4 {{ slug == 'all-cards' ? 'active' }}"
                                               href="{{ path('flashcard_index', {slug: 'all-cards'}) }}">All Cards
                                            </a>
                                        </li>
                                        {% for category in categories %}
                                            <li>
                                                <a class="dropdown-item ml-4 {{ slug == category.categoryUri ? 'active' }}"
                                                   href="{{ path('flashcard_index', {slug: category.categoryUri}) }}">
                                                    {{ category.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="nav-item mb-1">
                                    <a class="nav-link" href="#" aria-selected="false">
                                        <span class="fa fa-book fa-fw mr-4 text-muted" aria-hidden="true"></span>
                                        Learning
                                    </a>
                                </li>
                                <li class="nav-item dropdown mb-1">
                                    <a class="nav-link d-flex justify-content-between align-items-center" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div>
                                            <span class="fa fa-list-alt fa-fw mr-4 text-muted" aria-hidden="true"></span>
                                            Test
                                        </div>
                                        <span class="dropdown-icon fa fa-caret-right fa-fw" aria-hidden="true"></span>
                                    </a>
                                    <ul class="dropdown-menu border-0 mb-2 pt-0" aria-labelledby="navbarDropdown2">
                                        <li><a class="dropdown-item ml-4" href="#">Multiple choice</a></li>
                                        <li><a class="dropdown-item ml-4" href="#">Enter the word</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item mb-1">
                                    <a class="nav-link" href="#" aria-selected="false">
                                        <span class="fa fa-info-circle fa-fw mr-4 text-muted" aria-hidden="true"></span>
                                        How to use?
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="mt-5 navbar-sections">
                            <button class="btn btn-primary btn-block rounded-0" type="button">
                                <span class="fa fa-plus-circle fa-fw mr-1" aria-hidden="true"></span>
                                New card
                            </button>
                            <button class="btn btn-primary btn-block rounded-0 mt-4" type="button">
                                <span class="fa fa-plus-square fa-fw mr-1" aria-hidden="true"></span>
                                New section
                            </button>
                        </div>
                    </div>
                </nav>

                <!-- END VERTICAL NAVIGATION -->


                <!-- CONTENT -->

                {% block body %}{% endblock %}

                <!-- END CONTENT -->

            </div>

            <div class="row">
                <!-- FOOTER -->

                <footer class="col-md-4 col-lg-3 col-xl-2 d-none d-md-block text-center bg-white footer">

                    <p class="mt-4">
                        &copy; Created by
                        <a class="font-weight-bold text-dark" href="https://github.com/BartTux">BartTux</a>
                    </p>
                    <a class="text-dark" href="https://github.com/BartTux">
                        <span class="footer-icon fa fa-github" aria-hidden="true"></span>
                    </a>

                </footer>

                <!-- END FOOTER -->
            </div>
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
