{% extends "base.html.twig" %}

{#{% block title %}Flashbart - {{ category }}{% endblock %}#}

{% block page_form %}

{#    <form class="heading-form">#}
{#        <div class="form-group float-left mt-3 mr-5 heading-form_show">#}
{#            <fieldset>#}
{#                <legend>Show</legend>#}

{#                <div class="form-check form-check-inline mr-4">#}
{#                    <input class="form-check-input" type="checkbox" id="sentence" checked>#}
{#                    <label class="form-check-label" for="sentence">Example sentence</label>#}
{#                </div>#}

{#                <div class="form-check form-check-inline">#}
{#                    <input class="form-check-input" type="checkbox" id="pronunciation" checked>#}
{#                    <label class="form-check-label" for="pronunciation">Pronunciation</label>#}
{#                </div>#}
{#            </fieldset>#}
{#        </div>#}

{#        <div class="form-group float-left mt-3 mr-5 heading-form_sort">#}
{#            <label for="select">Sort by</label>#}
{#            <select class="form-control px-2 py-0" id="select">#}
{#                <option value="">Date increase</option>#}
{#                <option value="">Date decrease</option>#}
{#                <option value="">Word alphabetically</option>#}
{#                <option value="">Word not alphabetically</option>#}
{#            </select>#}
{#        </div>#}

{#        <button class="btn" type="submit">Submit</button>#}
{#    </form>#}

    {{ form_start(form, {'attr': {'class': 'heading-form'}}) }}
        <div class="form-group float-left mt-3 mr-5 heading-form_show">
            <fieldset>
                <legend>Show</legend>

                <div class="form-check form-check-inline mr-4">
                    {{ form_row(form.example_sentence) }}
                </div>

                <div class="form-check form-check-inline">
                    {{ form_row(form.pronunciation) }}
                </div>
            </fieldset>
        </div>

        <div class="form-group float-left mt-3 mr-5 heading-form_sort">
            {{ form_row(form.sortBy) }}
        </div>

        {{ form_widget(form.save, {'attr': {'class': 'btn'}}) }}
    {{ form_end(form) }}

{% endblock %}


{% block body %}

    <main class="col-md-8 col-lg-9 col-xl-10 ml-sm-auto px-4 content">
        <section class="d-flex justify-content-around flex-wrap align-items-center">

            <!-- START FLASHCARD SECTION -->

            {% if flashcards is not empty %}
                {% for flashcard in flashcards %}
                    <div class="card">
                        <div class="card-header">
                            <a href="#">
                                <span class="fa fa-pencil fa-fw" aria-hidden="true"></span>
                            </a>
                            <a href="{{ path('flashcard_delete', {slug: slug, id: flashcard.id}) }}">
                                <span class="fa fa-trash fa-fw" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="card-body">
                            {% if flashcard.id == id %}
                                <h3 class="card-title">
                                    <a class="text-dark" href="{{ path('flashcard_index', {slug: slug}) }}">
                                        {{ flashcard.getTranslations.getWord }}
                                    </a>
                                </h3>
                            {% else %}
                                <h3 class="card-title">
                                    <a class="text-dark" href="{{ path('flashcard_show', {slug: slug, id: flashcard.id}) }}">
                                        {{ flashcard.getWords.getWord }}
                                    </a>
                                </h3>
                                <p class="card-subtitle text-muted">
                                    {% if flashcard.pronunciation is empty %}
                                        <a href="#">complete pronunciation</a>
                                    {% else %}
                                        / {{ flashcard.pronunciation }} /
                                    {% endif %}
                                </p>

                                <div class="card-group">
                                    <p class="card-text">
                                        {% if flashcard.exampleSentence is not empty %}
                                            {{ flashcard.exampleSentence }}
                                        {% else %}
                                            <a href="#">complete example sentence</a>
                                        {% endif %}
                                    </p>
                                    <small class="card-prompt text-muted">example sentence(s)</small>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No flashcards for this category. <a href="#">Add some flashcards!</a></p>
            {% endif %}

            <!-- END FLASHCARD SECTION -->

        </section>
    </main>

{% endblock %}

