{% extends "base.html.twig" %}

{% block title %}Flashbart - All Cards{% endblock %}

{% block body %}

    <main class="col-md-8 col-lg-9 col-xl-10 ml-sm-auto px-4 content">
        <section class="d-flex justify-content-around flex-wrap align-items-center">

            <!-- START FLASHCARD SECTION -->

            {% for flashcard in flashcards %}
                {% if flashcard.category == category or category == "all-cards" %}
                    <div class="card">
                        <div class="card-header">
                            <a href="#">
                                <span class="fa fa-pencil fa-fw" aria-hidden="true"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-trash fa-fw" aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="card-body">
                            {% if flashcard.id == id %}
                                <h3 class="card-title">
                                    <a class="text-dark" href="{{ path('flashcard_index', {slug: category}) }}">{{ flashcard.translation }}</a>
                                </h3>
                            {% else %}
                                <h3 class="card-title">
                                    <a class="text-dark" href="{{ path('flashcard_show', {slug: category, id: flashcard.id}) }}">{{ flashcard.word }}</a>
                                </h3>
                                <p class="card-subtitle text-muted">
                                    {% if flashcard.pronun is empty %}
                                        <a href="#">complete pronunciation</a>
                                    {% else %}
                                        / {{ flashcard.pronun }} /
                                    {% endif %}
                                </p>

                                <div class="card-group">
                                    <p class="card-text">
                                        {% if flashcard.example is not empty %}
                                            {{ flashcard.example }}
                                        {% else %}
                                            <a href="#">complete example sentence</a>
                                        {% endif %}
                                    </p>
                                    <small class="card-prompt text-muted">example sentence(s)</small>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <!-- END FLASHCARD SECTION -->

        </section>
    </main>

{% endblock %}

